@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #239a27;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

/* Reset some default styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  z-index: 1000;
}

nav h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #444;
}

nav a {
  text-decoration: none;
  color: #277529;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.breadcrumbs {
  position: fixed;
  top: 4rem; /* Position it below the nav */
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  padding: 15px;
  z-index: 999; /* Ensure it appears above the main content */
  font-size: 0.5rem;
}

.breadcrumbs p {
  margin: 0;
  font-size: 1rem;
  color: #666;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

main {
  padding: 1rem;
  margin-top: 7rem; /* Adjust to account for both nav and breadcrumbs */
  text-align: center;
  width: 100%;
}
